{{#each Search}}
<li>
    <article>
        <h2 class="Movie-title">{{Title}}</h2>
        <img src="{{Poster}}" alt="" width="320" height="400">
        <p>{{Year}}</p>
        <p>{{Type}}</p>
       <button type="button" value="details-button-js"> More details</button>
    </article>
</li>

{{/each}}

 

 {{#if Response}}
  <p>{{Error}}</p>
{{/if}}



