
    <article class="modal-content">
        <h2 class="Movie-title">{{Title}}</h2>
        <img src="{{Poster}}" alt="" width="320" height="400">
        <p>{{Plot}}</p>
        <p>{{Year}}</p>
        <p>{{Type}}</p>
    </article>
