{{#each Search}}
<li>
    <article>
        <h2>{{Title}}</h2>
        <img src="{{Poster}}" alt="" width="320">
        <p>{{Year}}</p>
        <p>{{Actors}}</p>
        <p>{{Genre}}</p>
        <p>{{Country}}</p>
    </article>
</li>

{{/each}}

 



